<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xing.apidemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.xing.apidemo.glide.MyGlideModule" -->
        <!-- android:value="GlideModule"/> -->

        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".XfermodeActivity">
        </activity>
        <activity android:name=".dialog.AlertDialogActivity">
        </activity>
        <activity android:name=".view.ViewActivity">
        </activity>
        <activity android:name=".view.ImageViewActivity">
        </activity>
        <activity android:name=".view.SpecialImageViewActivity">
        </activity>
        <activity
            android:name=".app.ActionBarMechanics"
            android:enabled="true"
            android:label="哈哈哈">
        </activity>
        <activity
            android:name=".app.ActionBarNavigation"
            android:icon="@drawable/card_history"
            android:label="actionbar demo"
            android:logo="@mipmap/ic_launcher">
        </activity>
        <activity android:name=".app.ActionBarUsage">
        </activity>
        <activity android:name=".myviewgroup.MyViewGroupActivity">
        </activity>
        <activity android:name=".myviewgroup.FlowActivity">
        </activity>
        <activity
            android:name=".webview.MyWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
        <activity android:name=".webview.NewWebViewActivity">
        </activity>
        <activity android:name=".glide.GlideDemoActivity">
        </activity>
        <activity
            android:name=".volley.VolleyActivity"
            android:label="@string/title_activity_volley"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".okhttp.OkhttpActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".aty.MyTextViewActivity">
        </activity>
        <activity android:name=".aty.ProgressActivity">
        </activity>
        <activity android:name=".app.SoundShapeActivity">
        </activity>
        <activity android:name=".aty.MyScrollActivity">
        </activity>
        <activity android:name=".aty.EvnetActivity">
        </activity>
        <activity android:name=".aty.ClockActivity">
        </activity>
        <activity android:name=".aty.LayerActivity">
        </activity>
        <activity android:name=".aty.BitmapActivity">
        </activity>
        <activity android:name=".aty.PorterActivity">
        </activity>
        <activity android:name=".aty.SwipeActivity">
        </activity>
        <activity android:name=".aty.ShaderActivity">
        </activity>
        <activity android:name=".aty.ReflectionActivity">
        </activity>
        <activity android:name=".aty.PathActivity">
        </activity>
        <activity android:name=".aty.MySurfaceViewActivity">
        </activity>
        <activity android:name=".aty.SoundPoolActivity">
        </activity>
        <activity android:name=".aty.PermissionActivity">
        </activity>
        <activity android:name=".aty.ViewAnimationActivity">
        </activity>
        <activity android:name=".aty.ShadowActivity">
        </activity>
        <activity android:name=".aty.ProPerAniActivity">
        </activity>
        <activity android:name=".ani.PointAnimActivity">
        </activity>
        <activity android:name=".aty.LayoutAniActivity">
        </activity>
        <activity android:name=".material.PaleteActivity">
        </activity>
        <activity android:name=".material.ZorderActivity">
        </activity>
        <activity android:name=".material.TintActivity">
        </activity>
        <activity android:name=".material.ClipActivity">
        </activity>
        <activity android:name=".material.CardActivity">

        </activity>
        <activity android:name=".material.FromActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".material.ToActivity">
        </activity>
    </application>

</manifest>